{% extends 'core/base.html'%}

{% load static %}

{% block contenido %}





<div class="contenido_galeria">
    <div class="galeria">
        <a data-fancybox="gallery" href="img/Oso.jpg"><img src="{% static 'core/img/Oso.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Chocolate.jpg"><img src="{% static 'core/img/Chocolate.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Bigotes.jpg"><img src="{% static 'core/img/Bigotes.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Maya.jpg"><img src="{% static 'core/img/Maya.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Pexel.jpg"><img src="{% static 'core/img/Pexel.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Luna.jpg"><img src="{% static 'core/img/Luna.jpg' %}"></a>
        <a data-fancybox="gallery" href="img/Wifi.jpg"><img src="{% static 'core/img/Wifi.jpg' %}"></a>
    </div>
</div>
